extends layout 
block css
	link(rel='stylesheet' href='/stylesheets/form.css')
block content
	body
		form.create-hardware-type-form.d-flex.flex-column.align-items-stretch.gap-3(method='POST' action=`${hardware_type.route_url}/edit` enctype='multipart/form-data')
			div
				h2.my-0 Edit Hardware Type
				p.my-0.fs-6.text-info.text-center * means the information must be supplied
				p.my-0.fs-6.text-danger.text-center Admin password is required for this action
			.d-flex.flex-column
				label(for='name') Name*
				input#name(type='text' name='name' placeholder='Graphics Cards' maxlength='40' value!=hardware_type.name autofocus required)
			.d-flex.flex-column
				label(for='desc') Description*
				textarea#desc(rows='6' name='desc' required)!=hardware_type.desc
			.d-flex.flex-column
				label(for='img_file') Image
					span.fs-6.text-info  (<= 1MB in size)
				input#img_file(type='file' name='img_file' accept='image/*')
			.d-flex.flex-column
				label(for='password') Admin Password*
				input#password(type='password' name='password' required)
			button.my-button.purple(type='submit') Edit
			a.my-button.red(href=hardware_type.route_url) Cancel
		if errors
			ul
				for error in errors
					li.text-danger!= error.msg