body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

main {
    padding: 0 1rem;
}

.hardware-type-details .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.hardware-type-details .buttons {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
}

.hardware-type-desc,
.hardware-item-desc {
    font-family: "Nova Slim", cursive;
    color: rgb(220, 220, 220);
}

.hardware-item-desc {
    white-space: pre-wrap;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.hardware-item {
    display: flex;
    gap: 1rem;
    padding: .25rem;
    background-color: rgb(45, 45, 45);
    border-radius: 4px;
}

.hardware-item-name:hover {
    color: rgb(206, 206, 206);
}

.hardware-item-image {
    object-fit: cover;
    width: 250px;
    height: auto;
    border-radius: 4px;
}

#no-hardware-icon {
    width: 100px;
}

@media screen and (max-width: 640px) {
    main {
        padding: 0;
    }
}

@media screen and (max-width: 810px) {
    .hardware-type-details .header {
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }

    .buttons .my-button {
        min-width: 200px;
    }

    .hardware-item {
        height: max-content;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hardware-item-desc {
        -webkit-line-clamp: 3;
    }
}