body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.hardware-desc {
    color: rgb(220, 220, 220);
}

.hardware-image {
    width: min(380px, 100%);
    border-radius: 4px;
}

.hardware-image {
    object-fit: cover;
    width: 380px;
    height: auto;
}

.hardware-type {
    color: rgb(220, 220, 220);
    text-decoration: underline dotted rgb(220, 220, 220) 2px;
}

@media screen and (max-width: 640px) {
    main {
        padding: 0;
    }
}