body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

main {
    padding: 0 1rem;
}

.hardware-desc,
.hardware-type-desc {
    font-family: "Nova Slim", cursive;
    color: rgb(220, 220, 220);
}

.hardware-image {
    width: min(280px, 100%);
    border-radius: 4px;
}

.hardware-name:hover {
    color: grey;
}

.price {
    color: rgba(255, 163, 54, 1);
}

#no-hardware-icon {
    width: 100px;
}

@media screen and (max-width: 640px) {
    main {
        padding: 0;
    }
}