body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.hardware-desc {
    color: rgb(220, 220, 220);
}

.hardware-image {
    width: min(380px, 100%);
    border-radius: 4px;
}

.hardware-name:hover {
    color: grey;
}

.hardware-item .hardware-image {
    width: min(380px, 100%);
}

.hardware-item .hardware-type {
    color: rgb(220, 220, 220);
}

@media screen and (max-width: 640px) {
    main {
        padding: 0;
    }
}