body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.create-category,
.hardware-type-item {
    padding: 4px 0;
    max-width: 240px;
    max-height: 160px;
    width: 100%;
    height: 160px;
    border-radius: 8px;
}

.create-category {
    background-color: rgb(118, 118, 118);
}

.create-category:hover {
    background-color: rgb(95, 94, 94);
}

.create-category p {
    margin: 0;
}

.hardware-type-list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
}

.hardware-type-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 84, 19);
}

.hardware-type-item:hover {
    background-color: rgb(155, 75, 17);
}