body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.create-category,
.hardware-type-item {
    border-radius: 8px;
    flex-basis: 240px;
    flex-grow: 1;
    min-height: 160px;
    width: 100%;
    max-width: 350px;
    max-height: 240px;
}

.create-category {
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(118, 118, 118);
}

.create-category:hover {
    background-color: rgb(95, 94, 94);
}

.create-category p {
    margin: 0;
}

.hardware-type-list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
}

.hardware-type-item {
    overflow: hidden;
}

.hardware-type-item:not(.has-image) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 84, 19);
}

.hardware-type-item:not(.has-image):hover {
    background-color: rgb(155, 75, 17);
}

.hardware-type-item.has-image {
    position: relative;
}

.hardware-type-item.has-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.hardware-type-item.has-image .name {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (min-width: 768px) {
    .hardware-type-item.has-image img {
        transition: scale 0.5s;
    }

    .hardware-type-item.has-image:hover img {
        scale: 1.2;
    }
}

@media screen and (max-width: 540px) {
    .hardware-type-list {
        flex-direction: column;
        align-items: center;
        align-content: normal;
    }
}
